body{
    background-color: rgb(85, 85, 85);
}

h1{
    display: inline-block;
}


div.log-form{
    padding: 20px;
    text-align: center;
    width: 30%;
    height: 30%;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 30px;
    margin: 0 auto;
    margin-top: 10%;
}

div.log-form:hover{
    box-shadow: 15px 30px 40px;
    width: 30.1%;
    height: 30.1%;
}

button.button{
    border-radius: 0%;
    font-size: 16px;
}

button.button:hover{
    box-shadow: 1px 3px 4px;
}   